<%= stylesheet_link_tag "loginpage.scss" %>
<%= javascript_include_tag "aloginpage.js", "data-turbolinks-track" => true  %>
<div class="wrapper new-session">
	    
  <body data-pagebkg="alogin">
  <%= form_tag(login_path, {class: 'login'}) do %>
    <p class="title">Log in</p>
    <% if flash[:alert] %>
		<p id = "notice"> <%= flash[:alert] %> </p>
<% end %>
    <%= text_field_tag :name, params[:name], placeholder: 'Username'%>
    <i class="fa fa-user"></i>
    <%= password_field_tag :password, params[:password], placeholder: 'Password' %>
    <i class="fa fa-key"></i>
    <a href="#">Forgot your password?</a>
    <%= button_tag do %>
    	<i class="spinner"></i> Login 
    <% end %>
    
  <% end %>
  
  <footer><a target="blank" href="http://boudra.me/"></a></footer>
  </p>
  </body>
</div>